<header>
    <title>ביטוח עסק - איילת דן אדוונס ביטוחים</title>

    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--Hero Banner-->
    <section class="top-banner-section">
        <div class="banner-image-div">
            <img class="banner-image" src="https://i.ibb.co/PZhXrfT/business.jpg">
        </div>
        <div class="banner-overlay-div"></div>
        <div class="banner-text-div">
            <div class="banner-text">
                <h1 id="business" class="ama-font ins-banner-text">
                    ביטוח עסק
                </h1>
            </div>
        </div>
    </section>
    <!--Hero Banner-->
<hr>

</header>
<body>
    <div class="container is-fluid ama-font has-text-centered">
        <strong class="title is-size-2 is-size-3-mobile">איילת דן - אדוונס ביטוחים מציעה ביטוח עיסקי מושלם, אנו מציעים לשלב בביטוח העסק ביטוח STP -<br> ביטוח מלאי החל מקנייתו כחומר גלם מספקים בחו"ל ועד מכירתו כמוצר מוגמר.</strong><br>
        <hr>
        <strong class="title is-size-2 is-size-3-mobile underline">כיסויים עיקריים</strong>
        <div class="columns is-mobile is-size-4 has-text-weight-semibold is-size-4-mobile">
            <div class="column is-half is-centered">
                <div class="box">
                <ul>
                    <li>ביטוח עסק</li>
                    <li>ביטוח תכולה</li>
                    <li>ביטוח מבנה</li>
                    <li>ביטוח חבות המוצר</li>
                    <li>ביטוח סחורה בהעברה</li>
                </ul>
                </div>
            </div>
            <div class="column is-centered">
                <div class="box">
                <ul>
                    <li>ביטוח צד ג'</li>
                    <li>ביטוח חבות מעבידים</li>
                    <li>ביטוח אובדן רווחים</li>
                    <li>ביטוח צי כלי רכב</li>
                    <li>ביטוח סחורה במחסני ביניים ו/או חיצוניים</li>
                </ul>
                </div>
            </div>
        </div>

    </div>

 <!--Columns-->
 <!--Columns-->
  <div class="box center-text">
    <p class="title is-size-1 is-size-2-mobile ama-font">
        <strong class="underline">הביטוחים שלנו </strong>
    </p>
</div>
<section class="light-bg">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted  is-outlined" [routerLink]="['/travel']">
                        <strong class="ama-font">ביטוח נסיעות לחו"ל</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/d5HkXPY/health.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted is-outlined" [routerLink]="['/health']">
                    <strong class="ama-font">ביטוח בריאות</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/YW4PV9s/beauty.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/beauty']">
                        <strong class="ama-font">ביטוח מכוני יופי</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered ">
        <div class="column is-one-third">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/chPF12Z/property1-1.jpg" >
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/property']">
                        <strong class="ama-font">ביטוח רכוש</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/8sGTgqt/cargo.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/cargo']">
                    <strong class="ama-font">ביטוח מטענים</strong>
                </a>
            </div>
          </div>
        </div>
        <div class="column">
            <div  class="container box-h3 center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/sea']">
                    <strong class="ama-font">ביטוח ימי </strong>
                </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--Columns End-->
</body>
<app-footer></app-footer>



