<div class="container is-fluid " style="margin-top: 40px; margin-bottom: 30px;">

  <h1
  class="title is-size-1 is-size-2-mobile ama-font bolder underline center-text"
>
  טופס לקבלת הצעת מחיר לביטוח כלי שייט
</h1>
</div>
<form id="seaform" action="https://formsubmit.co/silkroadori@gmail.com" method="POST">
  <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="table">
        <input type="hidden" name="_next" value="">
        <input type="hidden" name="_subject" value="בקשה חדשה להצעת מחיר לביטוח כלי שייט!">
        <!--Add value to next!! (nextpage after submit)-->
<div class="container is-fluid is-light notification">
<h2 class="title is-size-2  ama-font">
  פרטי המבוטח
</h2>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      שם המבוטח
    </label>
    <input type="text" class="input" name="שם המבוטח" required
    oninvalid="this.setCustomValidity('יש להזין שם פרטי ומשפחה ')"
            oninput="this.setCustomValidity('')"
    >
  </div>
  <div class="column">
    <label class="label is-normal">
      מספר ת.ז / ח.פ
    </label>
    <input type="text" class="input" name="מספר ת.ז / ח.פ">
  </div>
  <div class="column">
    <label class="label is-normal">
      כתובת המבוטח
    </label>
    <input type="text" class="input" name="כתובת המבוטח">
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      טלפון
    </label>
    <input type="text" class="input" name="טלפון">
  </div>
  <div class="column">
    <label class="label is-normal">
      טלפון נייד
    </label>
    <input type="text" class="input" name="טלפון נייד" required
    oninvalid="this.setCustomValidity('יש להזין מספר טלפון נייד')"
            oninput="this.setCustomValidity('')"
    >

  </div>
  <div class="column">
    <label class="label is-normal">
      עיסוק / משלח יד
    </label>
    <input type="text" class="input" name="עיסוק/משלח יד">

  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      שם הבעלים הרשומים בכלי השייט
    </label>
    <input type="text" class="input" name="שם הבעלים הרשומים בכלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      ת.ז/ח.פ של הבעלים הרשומים בכלי השייט
    </label>
    <input type="text" class="input" name="ת.ז/ח.פ של הבעלים הרשומים בכלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      כתובת הבעלים הרשומים בכלי השייט
    </label>
    <input type="text" class="input" name="כתובת הבעלים הרשומים בכלי השייט">
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      טלפון הבעלים הרשומים בכלי השייט
    </label>
    <input type="text" class="input" name="טלפון הבעלים הרשומים בכלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      טלפון נייד של הבעלים הרשומים בכלי השייט
    </label>
    <input type="text" class="input" name="טלפון נייד הבעלים הרשומים בכלי השייט">

  </div>
  <div class="column">
    <label class="label is-normal">
      מס' תעודת משיט של המבוטח או הבעלים או מפעיל
    </label>
    <input type="text" class="input" name="מס' תעודת משיט של המבוטח/מפעיל/בעלים">
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    <label class="label is-normal">
      תאריך רכישת כלי השייט
    </label>
    <input type="date" name="תאריך רכישת כלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      טווח השיוט המבוקש
    </label>
    <input type="text" class="input" name="טווח השיוט המבוקש">
  </div>
<div class="column">
  <label class="label is-normal">
    מחיר רכישה ב $
  </label>
  <input type="number" class="input" name="מחיר רכישה בדולר">
</div>
<div class="column">
  <label class="label is-normal">
    תקופת ניסיון בהשטת כלי שייט (פרט סוגים ותקופות)
  </label>
  <textarea class="textarea" name="תקופת ניסיון בהשטת כלי שייט" form="seaform"></textarea>
</div>
</div>
<h2 class="title is-size-2  ama-font">
  פרטי כלי השייט
</h2>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      שם כלי השייט
    </label>
    <input type="text" class="input" name="שם כלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      סוג כלי השייט
    </label>
    <input type="text" class="input" name="סוג כלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      משקל(ק"ג)
    </label>
    <input type="number" class="input" name="משקל כלי השייט">
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      מספר רישום של כלי השייט
    </label>
    <input type="text" class="input" name="מספר רישום של כלי השייט">

  </div>
  <div class="column">
    <label class="label is-normal">
      דגל כלי השייט
    </label>
    <input type="text" class="input" name="דגל כלי השייט">

  </div>
  <div class="column">
    <label class="label is-normal">
      מהירות מרבית של כלי השייט
    </label>
    <input type="number" class="input" name="מהירות מרבית של כלי השיט">
  </div>
</div>
<div class="columns">
 <div class="column is-one-quarter">
   <label class="label is-normal">
     אורך
   </label>
   <input type="text" class="input" name="אורך כלי שייט">
 </div>
 <div class="column">
   <label class="label is-normal">
     רוחב
   </label>
   <input type="text" class="input" name="רוחב כלי שייט">
 </div>
 <div class="column">
   <label class="label is-normal">
     שוקע
   </label>
   <input type="text" class="input" name="שוקע כלי שייט">

 </div>
 <div class="column">
   <label class="label is-normal">
     שנת יצור
   </label>
   <input type="text" class="input" name="שנת יצור כלי שייט">
 </div>
</div>
<div class="columns">
  <div class="column">
    <label class="label is-normal">
      שם היצרן
    </label>
    <input type="text" class="input" name="יצרן כלי השייט">
  </div>
  <div class="column">
    <label class="label is-normal">
      חומר הבניה
    </label>
    <input type="text" class="input" name="חומר הבניה">
  </div>
  <div class="column">
    <label class="label is-normal">
      מס' נוסעים לפי התעודה
    </label>
    <input type="number" class="input" name="מס' נוסעים לפי תעודה">
  </div>

</div>
<div class="columns">
  <div class="column is-one-quarter">
    <label class="label is-normal">
      מס' תעודת כושר שייט
    </label>
    <input type="text" class="input" name="מס' תעודת כושר שייט">

  </div>
  <div class="column">
    <label class="label is-normal">
      מס' טבוע של המנוע
    </label>
    <input class="input" type="text" name="מס' טבוע של המנוע">

  </div>
  <div class="column">
    <label class="label is-normal">
      תאריך תוקף
    </label>
    <input type="date" name="תאריך תוקף">
  </div>

  <div class="column">
    <label class="label is-normal">
      המנוע/ים
    </label>
    <label class="radio">
      <input type="radio" name="מנוע פנימי/חיצוני">
      פנימי
    </label>
    <label class="radio" style="margin-right: 15px;">
      <input type="radio" name="מנוע פנימי/חיצוני">
      חיצוני
    </label>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      כ"ס
    </label>
    <input type="number" class="input" name="כוח סוס">
  </div>
  <div class="column">
<label class="label is-normal">
  סוג דלק
</label>
<input type="text" class="input" name="סוג דלק">
  </div>
  <div class="column">
    <label class="label is-normal">
      היכן יהיה מקום העגינה הקבוע של כלי השייט
    </label>
    <input type="text" class="input" name="מקום העגינה הקבוע">
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    <label class="label is-normal">
      סכום ביטוח לגוף כלי השייט ב $
    </label>
    <input type="number" class="input" name="סכום ביטוח לגוף כלי השייט בדולר">
  </div>
  <div class="column">
    <label class="label is-normal">
      סכום ביטוח למנוע ב $
    </label>
    <input type="number" class="input" name="סכום ביטוח למנוע בדולר">
  </div>
  <div class="column">
    <label class="label is-normal">
      סכום ביטוח למכשור קבוע / ציוד נוסף ב $
    </label>
    <input type="number" class="input" name="סכום ביטוח למכשור קבוע/ציוד נוסף בדולר">
  </div>
  <div class="column">
    <label class="label is-normal">
      סה"כ סכום לביטוח כלי השייט ב $
    </label>
    <input type="number" class="input" name="סך הכל סכום לביטוח כלי השייט בדולר">
  </div>
</div>
<h2 class="title is-size-2  ama-font">
  עבר ביטוחי
</h2>
<div class="columns">
  <div class="column is-three-quarters is-centered">
    <label class="label is-normal">
   אלו תאונות ו/או נזקים (תביעות) קרו במשך 5 השנים האחרונות לכל כלי שייט ששטת בו או היה בבעלותך?
    </label>
    <input type="text" class="input" name="אלו תאונות ו/או נזקים קרו במשך 5 השנים האחרונות לכל כלי שייט ששטת ב או היה בבעלותך">
    <label class="label is-normal">
      האם ביטוח או הצעה לביטוח שלך בוטלו או נדחו?
    </label>
    <input type="text" class="input" name="האם ביטוח או הצעה לביטוח שלך בוטלו או נדחו?">
    <label class="label is-normal">
      היכן היה הביטוח בעבר?
    </label>
    <input type="text" class="input" name="היכן היה הביטוח בעבר?">
    <label class="label is-normal">
      האם ישנם למיטב ידיעתך אי אלו סיבות שלא דווחו העלולים להשפיע על החלטת החברה לאי מתן כיסוי ביטוחי?
    </label>
    <input type="text" class="input" name="האם ישנם למיטב ידיעתך אי אלו סיבות שלא דווחו העלולים להשפיע על החלטת החברה לאי מתן כיסוי ביטוחי?">
    <label class="label is-normal">
      האם ידוע לך על אירוע העלול לשמש בסיס או עילה לתביעה נגדך?
    </label>
    <input type="text" class="input" name="האם ידוע לך על אירוע העלול לשמש בסיס או עילה לתביעה נגדך?">


  </div>
</div>
<div class=" center-text">
  <button
  type="submit"
  class="button is-large is-dark  is-outlined ama-font is-rounded"

>
  <span>
    <i class="far fa-paper-plane"></i>
  </span>
  <span class="title is-size-2 bolder">שליחה</span>
</button>
</div>
</div>
</form>



<app-footer></app-footer>
