<header>
    <title>ביטוח ימי, ביטוח כלי שיט - איילת דן אדוונס ביטוחים</title>
    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<section class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="https://i.ibb.co/7zPvcxh/sea.jpg">
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <div class="banner-text">
            <h1 class="ama-font ins-banner-text">
                ביטוח ימי
            </h1>
        </div>
    </div>
</section>
<hr>
</header>
<body>
    <div class="container center-text ama-font is-fluid">
        <strong class="title is-size-2 is-size-3-mobile underline">ביטוח יאכטות, סירות, אופנועי ים</strong>
        <p class="is-size-3 is-size-4-mobile has-text-weight-semibold">
            ביטוח כלי שיט הנכלל במסגרת ביטוח ימי, כולל ביטוח יאכטות, סירות ואופנועי ים.<br>
            לפי החוק, כלי שיט שאורכו המרבי אינו עולה על 24 מטר, המונע בכוח מנוע מחויב בביטוח צד שלישי בגין חבות כלשהי אשר עשוי<br> המבוטח לחוב בשל נזקי גוף שנגרמו תוך כדי או עקב השטת כל השיט בידי אותו אדם.<br>

            פוליסת הביטוח בדרך כלל רחבה יותר וכוללת נזקי גוף ורכוש לצד שלישי, וכן אפשרות לביטוח גוף כלי השיט בביטוח "מקיף".<br>


        </p>
        <hr>
        <div class="columns center-text">
            <div class="column is-half is-centered">
                <strong class="ama-font title is-size-3 is-size-3-mobile underline">כיסויים עיקריים לביטוח אחריות חוקית כלפי צד שלישי (צד ג')</strong>

                <ul class=" ama-font is-size-3 is-size-4-mobile has-text-weight-semibold">
                    <li>הוצאות משפטיות להקטנת החבות או הכחשת החבות וכן ייצוג בבית משפט.</li>
                    <li>אובדן או נזק לכל ספינה אחרת או רכוש של צד שלישי.</li>
                    <li>אובדן חיים, תאונות אישיות לצד שלישי או מחלה.</li>
                    
                </ul>
            </div>
            <div class="column is-centered">
                <strong class="ama-font title is-size-3 is-size-3-mobile underline">חריגים עיקריים בביטוח צד שלישי(צד ג')</strong>
  
                <ul class=" ama-font is-size-3 is-size-4-mobile has-text-weight-semibold">
                    <li>שמהירותה עולה על 17 קשר, אלא אם ניתנה הרחבה במפורש.</li>
                    <li>סקי מים, אלא אם ניתנה הרחבה במפורש.</li>
                    <li>חבות מעבידים.</li>
                </ul>
            
            </div>
        </div>
        <div class="box">
            <strong class="ama-font is-size-2 is-size-3-mobile title">ביטוח מקיף יכלול ביטוח צד ג' וכן ביטוח לכלי השיט על כל מרכיביו ובכלל זה ציוד ומכלולים שהינם חלק מכלי השיט.</strong>

        </div>
        <div class="columns center-text">
            <div class="column is-one-third">
                <div class="box center-text">
                    <strong class="ama-font title is-size-2 is-size-4-mobile underline">נזק או אובדן כתוצאה מהסיכונים הבאים<br>
                    בתנאי שלא נבעו מהעדר "חריצות נאותה" מצד המבוטח
                    </strong>
                    <div class="ama-font content is-size-4 is-size-5-mobile bolder">
                    <ul>
                        <li>נזק לכלי השיט תוך כדי טעינה, פריקה ושינוע של אספקה וציוד מכונות או דלק.</li>
                        <li>נזק שנגרם על ידי רשלנות בשיפוץ ותיקון, למעט החלק הפגום.</li>
                        <li>נזק שנגרם על ידי פגם ביצור.</li>
                        <li>פעילות זדונית.</li>
                        <li>התפוצצות</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <strong class="ama-font title is-size-2 is-size-4-mobile underline">כיסויים עיקריים</strong>
                    <div class="ama-font content is-size-4 is-size-5-mobile bolder">
                    <ul >
                        <li>גניבת הספינה כולה, סירות השייכות לה או מנוע חיצוני בתנאי שהיה קשור בצורה בטוחה לכלי השיט <br>
                        (סעיף זה מחייב תנאי שמירה קפדניים ביותר לפי סוג כלי השיט).
                        </li>
                        <li>סיכוני הים בכל תחומי השיט כולל נהרות ואגמים.</li>
                        <li>זריקת חפצים למים על מנהת להקל על כלי השיט.</li>
                        <li>רעידת אדמה, התפרצות וולקנית או ברק.</li>
                        <li>מגע עם רציף, מתקני נמל וכדו'</li>
                        <li>פיראטיות</li>
                        <li>אש</li>
                    </ul>
                    </div>
                </div>
            </div>
            
            <div class="column">
                <div class="box">
                    <strong class="ama-font title is-size-2 is-size-4-mobile underline">חריגים</strong>
                    <div class="ama-font content is-size-4 is-size-5-mobile bolder">
                    <ul>
                        <li>חפצים אישיים, אלא אם נכללו בטופס ההצעה ואושרו לביטוח.</li>
                        <li>סירה שמהירותה מעל 17 קשר אלא אם ניתנה הרחבה במפורש.</li>
                        <li>מלחמה, שביתות ונזקים רדיואקטיביים.</li>
                        <li>נפילת מנוע חיצוני למים.</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--Columns-->
  <div class="box center-text">
    <p class="title is-size-1 is-size-2-mobile ama-font">
        <strong class="underline">הביטוחים שלנו </strong>
    </p>
</div>
<section class="light-bg">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted  is-outlined" [routerLink]="['/travel']">
                        <strong class="ama-font">ביטוח נסיעות לחו"ל</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/d5HkXPY/health.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted is-outlined" [routerLink]="['/health']">
                    <strong class="ama-font">ביטוח בריאות</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/YW4PV9s/beauty.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/beauty']">
                        <strong class="ama-font">ביטוח מכוני יופי</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered ">
        <div class="column is-one-third">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/chPF12Z/property1-1.jpg" >
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/property']">
                        <strong class="ama-font">ביטוח רכוש</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/PZhXrfT/business.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/business']">
                    <strong class="ama-font">ביטוח עסק</strong>
                </a>
            </div>
          </div>
        </div>
        <div class="column">
            <div  class="container box-h3 center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/8sGTgqt/cargo.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/cargo']">
                    <strong class="ama-font">ביטוח מטענים </strong>
                </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--Columns End-->

</body>

<footer id="footer">
    <!--Footer important copy to all pages-->
    <div id="contact">
        <div class="box is-dark notification">
          <p class="title ama-font is-size-1 is-size-3-mobile has-text-weight-bold center-text">השאר פרטיך ונחזור אליך בהקדם!</p>
          <form action="https://formspree.io/f/xeqpaady" method="POST"  >
              <div class="field is-horizontal">
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="שם" required>
              </div>
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="טלפון" required>
                </div>
                    <div class="field">
                  <div class="control submit-is-centered submit-btn">
                      <button (click)="alertSuccess()" type="submit" class="button is-fullwidth is-large is-light modal-button ama-font" >
                          <span>
                              <i class="far fa-paper-plane"></i>
                          </span>
                        <span class="title is-size-2 bolder">שליחה</span>
                        </button>
                    </div>
                </div>
              </div>
          </form>
        </div>
    </div>
    <div class="content">
    <h1 class="title ama-font is-size-3 is-size-3-mobile center-text">איילת דן - אדוונס ביטוחים</h1>
    <div class="ama-font is-size-4 is-size-4-mobile center-text has-text-weight-bold">
        המגשימים 20, ת.ד 7032 קריית מטלון, פתח תקווה, 4934829 <br>
        <a href="tel:072-2415880">טל-072-2415880</a>
        פקס-077-4702112
        <a href="mailto:info@adins.co.il">info@adins.co.il</a>
    </div>
    <div class="content ama-font is-size-4 center-text has-text-weight-bold">
        <div class="center-text">כל הזכויות שמורות<i class="far icon is-small center-align fa-copyright"></i></div>
        <div class="center-text">
            <a href="mailto:silkroadori@gmail.com">Created by Ori Meshi</a>
        </div>
    </div>
</div>

    <!--Footer End-->
</footer>


