<div class="container is-fluid " style="padding-top: 70px; padding-bottom: 35px;">

  <h1
  class="title is-size-1 is-size-2-mobile ama-font bolder underline center-text"
>
טופס לקבלת הצעת מחיר לביטוח מטענים ימי/אווירי
</h1>

</div>
<form id="cargoform" action="https://formsubmit.co/silkroadori@gmail.com" method="POST">
  <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="table">
        <input type="hidden" name="_next" value="">
        <input type="hidden" name="_subject" value="בקשה חדשה להצעת מחיר לביטוח מטענים!">
<!--Add value to next!! (nextpage after submit)-->
<div class="container is-fluid is-light notification">
  <h2 class="title is-size-2  ama-font underline">
    פרטי המציע
  </h2>
  <div class="columns">
    <div class="column is-one-third">
      <label class="label is-normal">
        שם מלא של ה"חברה" המציעה
      </label>
      <input type="text" class="input" name="שם מלא של החברה המציעה" required>
      <label class="label is-normal">
        שם בלועזית
      </label>
      <input type="text" class="input" name="שם בלועזית">
    </div>
    <div class="column">
      <label class="label is-normal">
        שם איש/ת קשר
      </label>
      <input type="text" class="input" name="שם איש/ת קשר" required>
    </div>
    <div class="column">
      <label class="label is-normal">
        תפקיד/ה
      </label>
      <input type="text" class="input" name="תפקיד איש הקשר">
    </div>
  </div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      כתובת החברה המציעה
    </label>
    <input type="text" class="input" name="כתובת החברה המציעה">
  </div>
  <div class="column">
    <label class="label is-normal">
      טלפון
    </label>
    <input type="text" class="input" name="טלפון" required>

  </div>
  <div class="column">
    <label class="label is-normal">
      פקס
    </label>
    <input type="text" class="input" name="פקס">
  </div>

</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      עיסוקה של המציעה
    </label>
    <input type="text" class="input" name="עיסוקה של המציעה">
  </div>
  <div class="column">
    <label class="label is-normal">
      פוליסה פתוחה או חד פעמית
    </label>
    <div class="select is-fullwidth" >
      <select name="פוליסה פתוחה או חד פעמית" form="cargoform">
        <option value="חד פעמית">
          פוליסה חד פעמית
        </option>
        <option value="פוליסה פתוחה">
פוליסה פתוחה
        </option>
      </select>
    </div>
  </div>
  <div class="column">
    <label class="label is-normal">
      לפוליסה פתוחה - מחזור שנתי צפוי ב $
    </label>
    <input type="number" class="input" name="מחזור שנתי צפוי לפוליסה פתוחה בדולר">
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      סכום מקסימלי למשלוח ולריכוז במקום אחד ב $
    </label>
    <input type="number" class="input" name="סכום מקסימלי למשלוח ולריכוז במקום אחד בדולר">
  </div>
  <div class="column">
    <label class="label is-normal">
      אמצעי הובלה(ים, אוויר, יבשה)
    </label>
    <input type="text" class="input" name="אמצעי הובלה">
  </div>
  <div class="column">
    <label class="label is-normal">
      תאור וסוג הסחורות
    </label>
    <textarea class="textarea" name="תאור וסוג הסחורות" form="cargoform" ></textarea>
  </div>


</div>
<div class="columns">
  <div class="column is-one-quarter">
    <label class="label is-normal">
      משלוח ע"י בלדרים ו/או דואר
    </label>


    <label class="radio">
      <input type="radio" name="משלוח על ידי בלדרים ו/או דואר">
      כן
    </label>
    <label class="radio">
      <input type="radio" name="משלוח על ידי בלדרים ו/או דואר">
      לא
    </label>

  </div>
  <div class="column">
    <label class="label is-normal">
      אם כן, מקסימום גבולות כיסוי ב $
    </label>
    <input type="number" class="input" name="אם כן משלוח על ידי בלדרים וכו' , מקסימום גבולות כיסוי בדולר">
  </div>
  <div class="column">
    <label class="label is-normal">
      סוגי האריזה
    </label>
    <input type="text" class="input" name="סוגי האריזה">

  </div>
  <div class="column">
    <label class="label is-normal">
      יבוא או יצוא (מה תנאי המכירה/קניה)
    </label>
    <input type="text" class="input" name="יבוא או יצוא(מה תנאי המכירה/קניה)">
  </div>

</div>

<div class="columns">

  <div class="column is-one-third">
    <label class="label is-normal">
      בסיס הערכת סכום הביטוח (יבוא, יצוא)
    </label>


    <input type="text" class="input" name="בסיס הערכת סכום ביטוח יבוא">
    <label class="label is-normal">
      יבוא
    </label>

    <input type="text" class="input" name="בסיס הערכת סכום ביטוח יצוא">
    <label class="label is-normal">
      יצוא
    </label>
  </div>
  <div class="column">
    <label class="label is-normal">
  ארצות יעד, נמל יעד
    </label>
    <input type="text" class="input" name="ארצות יעד, נמל יעד">
  </div>
  <div class="column">
    <label class="label is-normal">
  ארצות יציאה, נמל יציאה
    </label>
    <input type="text" class="input" name="ארצות יציאה, נמל יציאה">
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <label class="label is-normal">
      סוג הכיסוי המבוקש:
    </label>
    <input type="text" class="input" name="סוג הכיסוי המבוקש">
  </div>
  <div class="column">
    <label class="label is-normal">
      האם ביטחת אי פעם בעבר טובין מהסוג המוצע לביטוח?
    </label>

    <label class="radio">
      <input type="radio" name="האם ביטחת אי פעם בעבר טובין מהסוג המוצע לביטוח?">
      לא
    </label>
    <label class="radio">
      <input type="radio" name="האם ביטחת אי פעם בעבר טובין מהסוג המוצע לביטוח?">
      כן
    </label>


  </div>
  <div class="column">
    <label class="label is-normal">
      אם כן, באיזו חברה?
    </label>
    <input type="text" class="input" name="אם ביטח אי פעם בעבר טובין מהסוג הזה, באיזו חברה?">

  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    <label class="label is-normal">
      האם בוטלה אי פעם פוליסה לביטוח ימי/אווירי?
    </label>
    <label class="radio">
      <input type="radio" name="האם בוטלה אי פעם פוליסה לביטוח ימי/אווירי?">
      לא
    </label>
    <label class="radio">
      <input type="radio" name="האם בוטלה אי פעם פוליסה לביטוח ימי/אווירי?">
      כן
    </label>
  </div>
  <div class="column">
    <label class="label is-normal">
      אם כן, מה הייתה הסיבה לביטול?
    </label>
    <input type="text" class="input" name="אם בוטלה אי פעם פוליסה לביטוח ימי/אווירי, פירוט הסיבה">
  </div>
<div class="column"></div>
</div>
<div class="columns">
  <div class="column is-half">

      <label class="label is-normal">
        מה היה ניסיון התביעות של המציע לגבי ביטוח ימי ואווירי ב-3 השנים האחרונות? (פרט תביעות מעל 500 $)
      </label>
      <textarea class="textarea" name="ניסיון התביעות של המציע לגבי ביטוח אווירי/ימי ב-3 השנים האחרונות" form="cargoform">
      </textarea>

  </div>
</div>
<div class=" center-text">
  <button
  type="submit"
  class="button is-large is-dark  is-outlined ama-font is-rounded"

>
  <span>
    <i class="far fa-paper-plane"></i>
  </span>
  <span class="title is-size-2 bolder">שליחה</span>
</button>
</div>

</div>
</form>


<app-footer></app-footer>
