<div class="container is-fluid" style="padding-top: 70px; padding-bottom: 35px">
  <h1
    class="title is-size-1 is-size-2-mobile ama-font bolder underline center-text"
  >
    טופס לקבלת הצעת מחיר לביטוח מכון יופי
  </h1>
</div>
<form
  id="beautyform"
  action="https://formsubmit.co/silkroadori@gmail.com"
  method="POST"
>
  <input type="hidden" name="_captcha" value="false" />
  <input type="hidden" name="_template" value="table" />
  <input type="hidden" name="_next" value="" />
  <input
    type="hidden"
    name="_subject"
    value="בקשה חדשה להצעת מחיר לביטוח מכון יופי!"
  />
  <!--Add value to next!! (nextpage after submit)-->
  <div class="container is-fluid is-light notification">
    <h2 class="title is-size-2 ama-font underline">פרטי המציע</h2>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> שם פרטי </label>
        <input type="text" class="input" name="שם פרטי" required />
      </div>
      <div class="column">
        <label class="label is-normal"> שם משפחה </label>
        <input type="text" class="input" name="שם משפחה" />
      </div>
      <div class="column">
        <label class="label is-normal"> מספר ת.ז / ח.פ </label>
        <input type="text" class="input" name="מספר ת.ז/ח.פ" />
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> שם העסק </label>
        <input type="text" class="input" name="שם העסק" />
      </div>
      <div class="column">
        <label class="label is-normal"> תפקיד ממלא/ת הטופס </label>
        <input type="text" class="input" name="תפקיד ממלא הטופס" />
      </div>
      <div class="column">
        <label class="label is-normal"> כתובת דואר אלקטרוני </label>
        <input type="email" class="input" name="כתובת דואר אלקטרוני" />
      </div>
    </div>
    <label class="label is-normal"> מען העסק המוצע לביטוח </label>
    <div class="columns">
      <div class="column is-one-fifth">
        <label class="label is-normal"> רחוב </label>
        <input type="text" class="input" name="מען העסק רחוב" />
      </div>
      <div class="column">
        <label class="label is-normal"> מס' </label>
        <input type="number" class="input" name="מען העסק מס' רחוב" />
      </div>
      <div class="column">
        <label class="label is-normal"> שכונה/עיר </label>
        <input type="text" class="input" name="מען העסק שכונה/עיר" />
      </div>
      <div class="column">
        <label class="label is-normal"> מיקוד </label>
        <input type="text" class="input" name="מיקוד מען העסק" />
      </div>
      <div class="column">
        <label class="label is-normal"> טלפון + קידומת </label>
        <input type="text" class="input" name="טלפון מען העסק" />
      </div>
    </div>
    <label class="label is-normal"> מען פרטי </label>
    <div class="columns">
      <div class="column is-one-fifth">
        <label class="label is-normal"> רחוב </label>
        <input type="text" class="input" name="מען פרטי רחוב" />
      </div>
      <div class="column">
        <label class="label is-normal"> מס' </label>
        <input type="number" class="input" name="מען פרטי מס' רחוב" />
      </div>
      <div class="column">
        <label class="label is-normal"> שכונה/עיר </label>
        <input type="text" class="input" name="מען פרטי שכונה/עיר" />
      </div>
      <div class="column">
        <label class="label is-normal"> מיקוד </label>
        <input type="text" class="input" name="מיקוד מען פרטי" />
      </div>
      <div class="column">
        <label class="label is-normal"> טלפון + קידומת </label>
        <input type="text" class="input" name="טלפון מען פרטי" />
      </div>
    </div>
    <h2 class="title is-size-2 ama-font underline">פרטי העסק</h2>
   <div class="columns">
     <div class="column is-one-third">
       <label class="label is-normal">
         אילו סוגי טיפולים נעשים במכון?
       </label>
       <label class="checkbox">
         <input type="checkbox" name="האם נעשים במכון הסרות שיער בלייזר?">
         הסרת שיער בלייזר
       </label>
       <label class="checkbox">
        <input type="checkbox" name="האם נעשים במכון טיפול IPL  ?">
        IPL
      </label>
      <label class="checkbox">
        <input type="checkbox" name="האם נעשים במכון טיפולי אפילציה?">
        אפילציה
      </label>
      <label class="checkbox">
        <input type="checkbox" name="האם נעשים במכון טיפולי איפור קבוע?">
        איפור קבוע
      </label>
      <label class="checkbox">
        <input type="checkbox" name="האם נעשים במכון טיפולים אחרים?">
        אחר, פרט/י:
      </label>
      <input type="text" class="input" name="טיפול אחר, פירוט">
     </div>
   </div>

    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal">
          האם מבוצעות עבודות מחוץ לחצרי בית העסק?
        </label>
        <label class="radio">
          <input type="radio" name="האם מבוצעות עבודות מחוץ לחצרי בית העסק?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם מבוצעות עבודות מחוץ לחצרי בית העסק?" />
          כן, פרט
        </label>
        <textarea
          class="textarea is-small"
          name="אם כן מבוצעות מחוץ לחצרי בית העסק, פירוט"
          form="beautyform"
        ></textarea>
      </div>
      <div class="column">
        <label class="label is-normal"> העסק נמצא בקומה: </label>
        <input type="number" class="input" name="העסק נמצא בקומה:" />
      </div>
      <div class="column">
        <label class="label is-normal"> מספר קומות במבנה: </label>
        <input type="number" class="input" name="מספר קומות במבנה:" />
      </div>
      <div class="column">
        <label class="label is-normal"> חומר מבנה הגג: </label>
        <input type="text" class="input" name="חומר מבנה הגג" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> מתי נבנה המבנה? </label>
        <input type="text" class="input" name="מתי נבנה המבנה" />
      </div>
      <div class="column">
        <label class="label is-normal"> המבנה נמצא בבעלות: </label>
        <label class="radio">
          <input type="radio" name="המבנה נמצא בבעלות:" />
          המציע
        </label>
        <label class="radio">
          <input type="radio" name="המבנה נמצא בבעלות:" />
          בשכירות
        </label>
        <label class="radio">
          <input type="radio" name="המבנה נמצא בבעלות:" />
          בדמי מפתח
        </label>
        <label class="radio">
          <input type="radio" name="המבנה נמצא בבעלות:" />
          אחר
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> אם בחרת "אחר" נא לפרט: </label>
        <input
          type="text"
          class="input"
          name="אם המבנה נמצא בבעלות 'אחר , פירוט'"
        />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> תאור מבני העזר במידה וקיימים: </label>
        <textarea
          class="textarea is-small"
          name="תאור מבני העזר במידה וקיימים"
          form="beautyform"
        >
        </textarea>
      </div>
      <div class="column">
        <label class="label is-normal">
          האם משמש המבנה בו נמצא העסק גם לפעילויות אחרות?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם משמש המבנה בו נמצא העסק גם לפעילויות אחרות?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם משמש המבנה בו נמצא העסק גם לפעילויות אחרות?"
          />
          כן, פרט:
        </label>
        <input
          type="text"
          class="input"
          name="אם המבנה כן משמש גם לפעילויות אחרות, פירוט:"
        />
      </div>
      <div class="column">
        <label class="label is-normal">
          האם קיים שעבוד לרכוש המוצע לביטוח?
        </label>
        <label class="radio">
          <input type="radio" name="האם קיים שעבוד לרכוש המוצע לביטוח?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם קיים שעבוד לרכוש המוצע לביטוח?" />
          כן, ציין לטובת מי השעבוד
        </label>
        <input type="text" class="input" name="אם קיים שעבוד, לטובת מי?" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-quarters">
        <label class="label is-normal">
          האם במבנה בו נמצא העסק מחזיקים ו/או משתמשים בחומרי נפץ, דלקים,
          כימיקלים, גזים, חומרים או סחורות אחרים מתלקחים ו/או מתפוצצים?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם במבנה בו נמצא העסק מחזיקים ו/או משתמשים בחומרי נפץ, דלקים וכ'"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם במבנה בו נמצא העסק מחזיקים ו/או משתמשים בחומרי נפץ, דלקים וכ'"
          />
          כן, פרט סוגי החומרים / הסחורות
        </label>
        <textarea
          class="textarea is-small"
          name="פירוט אם כן משתמשים בחומרי נפץ, דלקים וכ'"
          form="beautyform"
        ></textarea>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-quarters">
        <label class="label is-normal">
          ציין המבנים בשכנות(15מ') ולמה משמשים:
        </label>
        <textarea
          class="textarea is-small"
          name="מבנים בשכנות 15 מטר ולמה משמשים"
          form="beautyform"
        ></textarea>
      </div>
    </div>
    <h2 class="title is-size-2 ama-font underline">נסיון ביטוחי קודם</h2>
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal">
          האם היית מבוטח בעבר באחד או יותר מהכיסויים המבוקשים בהצעה זו?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם היית מבוטח בעבר באחד או יותר מהכיסויים המבוקשים בהצעה זו?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם היית מבוטח בעבר באחד או יותר מהכיסויים המבוקשים בהצעה זו?"
          />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> אם כן, פרט שם החברה: </label>
        <input
          type="text"
          class="input"
          name="אם כן היה מבוטח בעבר באחד או יותר מהכיסויים, שם החברה בה בוטח"
        />
      </div>
      <div class="column">
        <label class="label is-normal"> תקופת הביטוח: </label>
        <input
          type="text"
          class="input"
          name="אם כן היה מבוטח בעבר באחד או יותר מהכיסויים, תקופת הביטוח"
        />
      </div>
      <div class="column">
        <label class="label is-normal"> מס' הפוליסה: </label>
        <input
          type="text"
          class="input"
          name="אם כן היה מבוטח בעבר באחד או יותר מהכיסויים, מספר הפוליסה"
        />
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-quarters">
        <label class="label is-normal">
          האם אי פעם נדחתה הצעתך, או בוטלה פוליסה שלך בגין אחד או יותר מהכיסויים
          המבוקשים?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם אי פעם נדחתה או בוטלה פוליסה או הצעה בגין אחד/יותר מהכיסויים המבוקשים?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם אי פעם נדחתה או בוטלה פוליסה או הצעה בגין אחד/יותר מהכיסויים המבוקשים?"
          />
          כן, פרט:
        </label>
        <input
          type="text"
          class="input"
          name="אם כן נדחתה או בוטלה הצעה/פוליסה, פירוט"
        />

        <label class="label is-normal">
          האם הורשעת ו/או עובד המועסק על ידך בגין כל עבירה פלילית אשר לה קשר
          כלשהו עם סיכון לגביו מתבקש ביטוח בהצעה?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הורשעת ו/או עובד המועסק על ידך בכל עבירה פלילית אשר לה קשר כלשהו עם סיכון לגביו מתבקש ביטוח בהצעה?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הורשעת ו/או עובד המועסק על ידך בכל עבירה פלילית אשר לה קשר כלשהו עם סיכון לגביו מתבקש ביטוח בהצעה?"
          />
          כן, פרט:
        </label>
        <input
          type="text"
          class="input"
          name="אם כן הורשע/עובד המועסק על ידו, פירוט"
        />
        <label class="label is-normal">
          האם הגשת תביעות או ארעו נזקים כלשהם כתוצאה מהכיסויים המבוקשים בהצעה זו
          במשך חמש השנים האחרונות ו/או האם ידוע לך על ארוע העלול לשמש בסיס או
          עילה לתביעה נגדך?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הגשת תביעות או ארעו נזקים כלשהם כתוצאה מהכיסויים המבוקשים בהצעה זו ב5 השנים האחונות ו/או האם ידוע לך על ארוע העלול לשמש כבסיס או עילה לתביעה נגדך?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הגשת תביעות או ארעו נזקים כלשהם כתוצאה מהכיסויים המבוקשים בהצעה זו ב5 השנים האחונות ו/או האם ידוע לך על ארוע העלול לשמש כבסיס או עילה לתביעה נגדך?"
          />
          כן, פרט:
        </label>
        <input
          type="text"
          class="input"
          name="אם כן הגיש תביעות/ארעו נזקים/ידוע על ארוע העלול לשמש כבסיס/עילה, פירוט"
        />
        <label class="label is-normal">
          אילו אמצעים ננקטו לאחר הנזק או האירוע, ככל שאירעו? נא פרט:
        </label>
        <input
          type="text"
          class="input"
          name="אילו אמצעים ננקטו לאחר הנזק או האירוע, ככל שאירעו?, פירוט"
        />
      </div>
    </div>
    <h2 class="title is-size-2 ama-font underline">ביטוח נוסף</h2>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          האם הרכוש ו/או חבויות העסק המוצעים לביטוח מבוטחים גם בחברות ביטוח
          אחרות?
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הרכוש ו/או חבויות העסק המוצעים לביטוח מבוטחים גם בחברות אחרות?"
          />
          לא
        </label>
        <label class="radio">
          <input
            type="radio"
            name="האם הרכוש ו/או חבויות העסק המוצעים לביטוח מבוטחים גם בחברות אחרות?"
          />
          כן, פרט
        </label>
        <input
          type="text"
          class="input"
          name="אם הרכוש/חבויות העסק המוצעים מבוטחים גם בחברות אחרות, פירוט:"
        />
      </div>
      <div class="column">
        <label class="is-normal label">
          אם כן, פרט שם החברה, סוג הביטוח, תקופת הביטוח וסכומי הביטוח:
        </label>
        <textarea
          class="textarea is-small"
          name="אם הרכוש/חבויות העסק המוצעים מבוטחים גם בחברות אחרות, פירוט שם החברה/סוג הביטוח/תקופת הביטוח, סכומי הביטוח"
          form="beautyform"
        >
        </textarea>
      </div>
    </div>
    <h2 class="title is-size-2 ama-font underline">אמצעי בטיחות ומיגון</h2>
    <label class="label is-normal underline" style="font-size: 1.3rem"
      >נגד סיכוני אש</label
    >
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> מטפים</label>
        <label class="radio">
          <input type="radio" name="מטפים" />
          אין
        </label>
        <label class="radio">
          <input type="radio" name="מטפים" />
          יש
        </label>
      </div>
      <div class="column">
        <label class="is-normal label">מספר המטפים:</label>
        <input type="number" class="input" name="מספר המטפים" />
      </div>
      <div class="column">
        <label class="label is-normal"> סוג המטפים: </label>
        <input type="text" class="input" name="סוג המטפים" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> ברזי שריפה</label>
        <label class="radio">
          <input type="radio" name="ברזי שריפה" />
          אין
        </label>
        <label class="radio">
          <input type="radio" name="ברזי שריפה" />
          יש
        </label>
      </div>
      <div class="column">
        <label class="is-normal label">מספר הברזים:</label>
        <input type="number" class="input" name="מספר הברזים" />
      </div>
      <div class="column">
        <label class="label is-normal"> קוטר צינורות ברזי השריפה: </label>
        <input type="text" class="input" name="קוטר צינורות ברזי השריפה: " />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal"> גלאי עשן </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן" />
          אין
        </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן" />
          יש
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> האם גלאי העשן מחוברים למוקד? </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן מחוברים למוקד?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן מחוברים למוקד?" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal">
          האם גלאי העשן מחוברים לשירותי הכבאות?
        </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן מחוברים לשירותי הכבאות?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="גלאי עשן מחוברים לשירותי הכבאות?" />
          כן
        </label>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          האם נערכה במקום ביקורת שירותי כבאות?
        </label>
        <label class="radio">
          <input type="radio" name="האם נערכה במקום ביקורת שירותי כבאות?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם נערכה במקום ביקורת שירותי כבאות?" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal">
          האם יש אישור שירותי כבאות תקף לעסק?
        </label>
        <label class="radio">
          <input type="radio" name="האם יש אישור שירותי כבאות תקף לעסק?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם יש אישור שירותי כבאות תקף לעסק?" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal">
          האם נתגלו ממצאים שליליים כלשהם? אם כן, פרט:
        </label>
        <textarea
          class="textarea is-small"
          form="beautyform"
          name="האם נתגלו ממצאים שליליים כלשהם? אם כן, פרט:"
        ></textarea>
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.3rem">
      נגד סיכוני פריצה
    </label>
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal"> סוגי הדלתות ואמצעי נעילה - פרט: </label>
        <textarea
          class="textarea is-small"
          name="סוגי הדלתות ואמצעי הנעילה, פירוט:"
          form="beautyform"
        ></textarea>
      </div>
      <div class="column">
        <label class="label is-normal"> כיצד מוגנים החלונות והאשנבים: </label>
        <textarea
          name="כיצד מוגנים החלונות והאשנבים, פירוט:"
          form="beautyform"
          class="textarea is-small"
        ></textarea>
      </div>
      <div class="column">
        <label class="label is-normal">
          האם מותקנת מערכת אזעקה בבית העסק?
        </label>
        <label class="radio">
          <input type="radio" name="האם מותקנת מערכת אזעקה בבית העסק?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם מותקנת מערכת אזעקה בבית העסק?" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> אם מותקנת מערכת אזעקה - פרט: </label>
        <textarea
          class="textarea is-small"
          name="אם כן מותקנת מערכת אזעקה, פירוט:"
          form="beautyform"
        >
        </textarea>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          אם מותקנת מערכת אזעקה קוית - האם מחובר לכל פתחי העסק? פרט:
        </label>
        <textarea
          class="textarea is-small"
          name="אם מותקנת מערכת אזעקה קוית - פירוט"
          form="beautyform"
        >
        </textarea>
      </div>
      <div class="column is-one-third">
        <label class="label is-normal">
          אם מותקנת מערכת אזעקה נפחית - האם מגינה על חלל בית העסק? פרט:
        </label>
        <textarea
          class="textarea is-small"
          name="אם מותקנת מערכת אזעקה נפחית - פירוט"
          form="beautyform"
        >
        </textarea>
      </div>
      <div class="column">
        <label class="label is-normal"> האם מערכת האזעקה מחוברת למוקד? </label>
        <label class="radio">
          <input type="radio" name="האם מערכת האזעקה מחוברת למוקד?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם מערכת האזעקה מחוברת למוקד?" />
          כן, האם החיבור אלחוטי או טלפוני?
        </label>
        <input
          type="text"
          class="input"
          name="אם מערכת האזעקה מחוברת למוקד - אלחוטי או טלפוני?"
        />
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-quarters">
        <label class="label is-normal"> אחר: </label>
        <input type="text" class="input" name="מיגון אחר נגד פריצות" />
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.3rem">
      סיכון נוסף
    </label>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          האם קיים בסביבה מקור העלול לגרום לשטפון (נחל, ואדי, תעלה וכדומה)?
        </label>
        <label class="radio">
          <input type="radio" name="האם קיים בסביבה מקור העלול לגרום לשטפון?" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם קיים בסביבה מקור העלול לגרום לשטפון?" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> אם כן, פרט: </label>
        <input
          type="text"
          class="input"
          name="אם קיים בסביבה מקור העלול לגרום לשטפון: פירוט"
        />
      </div>
    </div>
    <h2 class="title is-size-2 ama-font underline">הכיסוי המבוקש</h2>
    <label class="label is-normal underline" style="font-size: 1.3rem">
      פרק ראשון - ביטוח אש מורחב וסיכונים נלווים<br>

    </label>
    <label class="label is-normal underline" style="font-size: 1.1rem;">
      פרק 1  א' - ביטוח המבנה והתכולה
    </label>
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal"> על בסיס ערך כינון - למבנה: </label>
        <label class="radio">
          <input type="radio" name="למבנה:" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="למבנה:" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> לציוד: </label>
        <label class="radio">
          <input type="radio" name="לציוד:" />
          לא
        </label>
        <label class="radio">
          <input type="radio" name="לציוד:" />
          כן
        </label>
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מבנה בית העסק" />
          מבנה בית העסק:
        </label>
        <input type="text" class="input" name="מבנה בית העסק:" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן תכולת בית העסק" />
          תכולת בית העסק:
        </label>
        <input type="text" class="input" name="תכולת בית העסק:" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן ריהוט ציוד ומכונות" />
          ריהוט, ציוד ומכונות:
        </label>
        <input type="text" class="input" name="ריהוט ציוד ומכונות:" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מלאי" />
          מלאי, פרט:
        </label>
        <input type="text" class="input" name="מלאי, פירוט:" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן אחר" />
          אחר, פרט:
        </label>
        <input type="text" class="input" name="אחר, פירוט:" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          <input type="checkbox" name="האם סמן שבר שמשות" />
          שבר שמשות - ציין סכום ביטוח(מעל 5 % מסכום ביטוח התכולה או המבנה, הגבוה
          מביניהם, ולא יותר מ20,000 ש"ח)
        </label>
        <input type="number" class="input" name="סכום ביטוח שבר שמשות" />

        <label class="label is-normal">
          <input type="checkbox" name="האם סימן התמוטטות מדפים" />
          התמוטטות מדפים - ציין סכום ביטוח:
        </label>
        <input type="number" class="input" name="סכום ביטוח התמוטטות מדפים" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן הרחבה מיוחדת לגבי תכולה" />
          הרחבה מיוחדת לגבי תכולה(השלמה לכל הסיכונים):
        </label>
        <input
          type="text"
          class="input"
          name="הרחבה מיוחדת לגבי תכולה, פירוט"
        />
      </div>
      <div class="column">
        <label class="checkbox">
          <input
            type="checkbox"
            name="האם סימן הרחבה לכיסוי התבלות, קורוזיה או חלודה"
          />
          הרחבה לכיסוי התבלות, קורוזיה או חלודה.
        </label>

        <label class="checkbox">
          <input type="checkbox" name="השלמה ל'כל הסיכונים'" />
          השלמה ל"כל הסיכונים".
        </label>
      </div>
      <div class="column">
        <label class="checkbox">
          <input
            type="checkbox"
            name="האם סימן כיסוי לציוד נישא מחוץ לבית העסק"
          />
          כיסוי לציוד נישא מחוץ לבית העסק.
        </label>
        <label class="checkbox">
          <input type="checkbox" name="האם סימן כיסוי לפי ערך כינון" />
          כיסוי לפי ערך כינון.
        </label>
        <label class="checkbox">
          <input type="checkbox" name="האם סימן כיסוי למלגזה" />
          כיסוי למלגזה.
        </label>
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.1rem">
כיסויים נוספים
    </label>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזקי טבע" />
          נזקי טבע:
        </label>
        <input type="text" class="input" name="נזקי טבע, פירוט" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזקי רעידת אדמה" />
          נזקי רעידת אדמה:
        </label>
        <input type="text" class="input" name="נזקי רעידת אדמה, פירוט" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן פריצה" />
          פריצה: פריצה על בסיס נזק ראשון?
        </label>
        <input
          type="text"
          class="input"
          name="פריצה,פירוט + פריצה על בסיס נזק ראשון? פירוט"
        />
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          <input
            type="checkbox"
            name="(פריצה) האם סימן לגבי ריהוט ציוד ומכונות?"
          />
          (פריצה) לגבי ריהוט, ציוד ומכונות:
        </label>
        <input
          type="text"
          class="input"
          name="לגבי ריהוט, ציוד ומכונות, פירוט"
        />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן לגבי מלאי (פריצה)" />
          (פריצה) לגבי מלאי:
        </label>
        <input type="text" class="input" name="לגבי מלאי, פירוט" />
      </div>
      <div class="column">
        <label class="label is-normal">
          <input
            type="checkbox"
            name="האם סימן לגבי כל תכולת בית העסק(פריצה)"
          />
          (פריצה) לגבי תכולת כל בית העסק:
        </label>
        <input type="text" class="input" name="לגבי כל תכולת בית העסק, פירוט" />
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.1rem">
      פרק 1 ב' - ביטוח אובדן הכנסה(סכום הביטוח בש"ח)
    </label>
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal"> רווח גולמי שנתי: </label>
        <input type="number" class="input" name="רווח גולמי שנתי" />
      </div>
      <div class="column">
        <label class="label is-normal"> הוצאות הכנת תביעה: </label>
        <input type="number" class="input" name="הוצאות הכנת תביעה" />
        <label class="label is-normal"> תקופת שיפוי(בחודשים) </label>
        <label class="radio">
          <input type="radio" name="תקופת שיפוי(בחודשים)" />
          3
        </label>
        <label class="radio">
          <input type="radio" name="תקופת שיפוי(בחודשים)" />
          6
        </label>
        <label class="radio">
          <input type="radio" name="תקופת שיפוי(בחודשים)" />
          9
        </label>
        <label class="radio">
          <input type="radio" name="תקופת שיפוי(בחודשים)" />
          12
        </label>
      </div>
      <div class="column">
        <label class="label is-normal"> אחר: </label>
        <input type="number" class="input" name="אחר(ביטוח אובדן רווחים)" />
      </div>
      <div class="column">
        <label class="label is-normal"> אחר: </label>
        <input type="number" class="input" name="אחר2(ביטוח אובדן רווחים)" />
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.1rem;">
      פרק 1 ג' - ביטוח אובדן הכנסה
    </label>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          רווח גולמי יומי מבוקש:
        </label>
        <input type="number" class="input" name="רווח גולמי יומי מבוקש">
      </div>
      <div class="column">
        <label class="label is-normal">
          הכנסה חודשית ממוצעת:
        </label>
        <input type="number" class="input" name="הכנסה חודשית ממוצעת">
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.3rem;">
    פרק שני - ביטוח רכוש במעבר
    </label>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          גבול אחריות להעברה אחת ולכל תקופת הביטוח:
        </label>
        <input type="text" class="input" name="גבול אחריות להעברה אחת ולכל תקופת הביטוח">



      </div>
      <div class="column">
        <label class="label is-normal">
          פירוט הסחורות המועברות:
        </label>
        <textarea class="textarea is-small" name="פירוט הסחורות המועברות" form="beautyform"> </textarea>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          סוג הרכב בו מועברת הסחורה:
        </label>
        <input type="text" class="input" name="סוג הרכב בו מועברת הסחורה">
      </div>
      <div class="column">
        <label class="label is-normal">
          היצרן:
        </label>
        <input type="text" class="input" name="יצרן הרכב">
      </div>
      <div class="column">
        <label class="label is-normal">
          הדגם:
        </label>
        <input type="text" class="input" name="דגם הרכב">
      </div>


    </div>
    <div class="columns">
      <div class="column is-half">

          <label class="label is-normal">
            מס' רישוי:
          </label>
          <input type="text" class="input" name="מס' הרישוי של הרכב">

      </div>
      <div class="column">
        <label class="label is-normal">
          הגנות:
        </label>
        <textarea name="הגנות הרכב בו מועברת הסחורה" form="beautyform"  class="textarea is-small"></textarea>
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.1rem;">כיסויים נוספים</label>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן טעינה ופריקה">
          טעינה ופריקה:
        </label>
        <input type="text" class="input" name="אם סימן טעינה ופריקה, פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזק מעצירת פתע" >
          נזק כתוצאה מעצירת פתע:
        </label>
        <input type="text" class="input" name="אם סימן נזק מעצירת פתע, פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזק כתוצאה מנפילה מקרית" >
          נזק כתוצאה מנפילה מקרית:
        </label>
        <input type="text" class="input" name="אם סימן נזק מנפילה מקרית, פירוט">
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזק כתוצאה מגניבת כלי הרכב" >
          נזק כתוצאה מגניבת כלי הרכב:
        </label>
        <input type="text" class="input" name="אם סימן נזק כתוצאה מגניבת כלי הרכב, פירוט">

        <label class="label is-normal">
          <input type="checkbox" name="האם סימן נזק כתוצאה מגניבת כלי הרכב גם בשעות הלילה">
          נזק כתוצאה מגניבת כלי הרכב גם בשעות הלילה:
        </label>
        <input type="text" class="input" name="אם סימן נזק כתוצאה מגניבת כלי הרכב בשעות הלילה, פירוט">
      </div>

      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן פריצה לרכב בשעות היום:">
          פריצה בשעות היום:
        </label>
        <input type="text" class="input" name="אם סימן פריצה לרכב בשעות היום, פירוט">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן פריצה לרכב גם בשעות הלילה">
          פריצה לרכב גם בשעות הלילה(עד 50% מהכיסוי בשעות היום)
        </label>
        <input type="text" class="input" name="אם סימן פריצה לרכב בשעות הלילה, פירוט">
      </div>

    </div>
    <label class="label is-normal underline" style="font-size: 1.3rem;">
    פרק שלישי - ביטוח כספים
    </label>
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן כספים בהעברה">
          כספים בהעברה:
        </label>
        <input type="text" class="input" name="אם סימן כספים בהעברה, פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מזומנים, שטרות והמחאות (כספים בהעברה)">
          מזומנים, שטרות והמחאות:
        </label>
        <input type="text" class="input" name="אם סימן מזומנים שטרות והמחאות[כספים בהעברה], פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מזומנים בלבד[כספים בהעברה]">
          מזומנים בלבד:
        </label>
        <input type="text" class="input" name="אם סימן מזומנים בלבד[כספים בהעברה], פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן שטרות והמחאות[כספים בהעברה]">
          שטרות והמחאות:
        </label>
        <input type="text" class="input" name="אם סימן שטרות והמחאות[כספים בהעברה], פירוט">
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן כספים בכספת">
          כספים בכספת:
        </label>
        <input type="text" class="input" name="אם סימן כספים בכספת, פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מזומנים, שטרות והמחאות (כספים בכספת)">
          מזומנים, שטרות והמחאות:
        </label>
        <input type="text" class="input" name="אם סימן מזומנים שטרות והמחאות[כספים בכספת], פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן מזומנים בלבד[כספים בכספת]">
          מזומנים בלבד:
        </label>
        <input type="text" class="input" name="אם סימן מזומנים בלבד[כספים בכספת], פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          <input type="checkbox" name="האם סימן שטרות והמחאות[כספים בכספת]">
          שטרות והמחאות:
        </label>
        <input type="text" class="input" name="אם סימן שטרות והמחאות[כספים בכספת], פירוט">
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">


            <span style="
            color: #363636;
            margin-left: 10px;
            display:block;
font-size: 1rem;
font-weight: 700;
            "> כספת: </span>

          <label class="radio">
            <input type="radio" name="האם יש כספת">
            אין
          </label>
          <label class="radio">
            <input type="radio" name="האם יש כספת">
            יש, פרט:
          </label>


        <input type="text" class="input" name="אם יש כספת, פירוט">
      </div>
      <div class="column">
        <label class="label is-normal">
          תוצרת:
        </label>
        <input type="text" class="input" name="תוצרת הכספת">
      </div>
      <div class="column">
        <label class="label is-normal">
          משקל:
        </label>
        <input type="text" class="input" name="משקל הכספת">
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <label class="label is-normal">
          מידות:
        </label>
        <input type="text" class="input" name="מידות הכספת">
      </div>
      <div class="column">
        <label class="label is-normal">
          מיקום:
        </label>
        <input type="text" class="input" name="מיקום הכספת">
      </div>
      <div class="column">
        <label class="label is-normal">
          מעוגנת:
        </label>
        <label class="radio">
          <input type="radio" name="האם הכספת מעוגנת" >
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם הכספת מעוגנת" >
          כן
        </label>
      </div>
    </div>
    <label class="label is-normal underline" style="font-size: 1.3rem;">
      פרק רביעי - ביטוח ציוד אלקטרוני
      </label>
      <div class="columns">
        1.
        <div class="column is-one-third">

          <label class="label is-normal">
            תאור הציוד
          </label>
          <input type="text" class="input" name="תאור הציוד האלקטרוני">
        </div>
        <div class="column">
          <label class="label is-normal">
            יצרן
          </label>
          <input type="text" class="input" name="יצרן הציוד האלקטרוני">
        </div>
        <div class="column">
          <label class="label is-normal">
            דגם
          </label>
          <input type="text" class="input" name="דגם הציוד האלקטרוני">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-third">
          <label class="label is-normal">
            שנת הייצור
          </label>
          <input type="text" class="input" name="שנת היצור של הציוד האלקטרוני">
        </div>
        <div class="column">
          <label class="label is-normal">
            מס' סידורי
          </label>
          <input type="text" class="input" name="מס' סידורי של  הציוד האלקטרוני">
        </div>
        <div class="column">
          <label class="label is-normal">
            בסיס הביטוח(ערך כחדש)
          </label>
          <input type="text" class="input" name="בסיס הביטוח[ערך כחדש] של הציוד האלקטרוני">
        </div>
      </div>

      <div class="columns">
        2.
        <div class="column is-one-third">
          <label class="label is-normal">
            תאור הציוד
          </label>
          <input type="text" class="input" name="תאור הציוד האלקטרוני2">
        </div>
        <div class="column">
          <label class="label is-normal">
            יצרן
          </label>
          <input type="text" class="input" name="יצרן הציוד האלקטרוני2">
        </div>
        <div class="column">
          <label class="label is-normal">
            דגם
          </label>
          <input type="text" class="input" name="דגם הציוד האלקטרוני2">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-third">
          <label class="label is-normal">
            שנת הייצור
          </label>
          <input type="text" class="input" name="שנת היצור של הציוד האלקטרוני2">
        </div>
        <div class="column">
          <label class="label is-normal">
            מס' סידורי
          </label>
          <input type="text" class="input" name="מס' סידורי של  הציוד האלקטרוני2">
        </div>
        <div class="column">
          <label class="label is-normal">
            בסיס הביטוח(ערך כחדש)
          </label>
          <input type="text" class="input" name="2בסיס הביטוח[ערך כחדש] של הציוד האלקטרוני">
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">

          <span style="
          color: #363636;
          margin-left: 10px;
          display:block;
           font-size: 1rem;
          font-weight: 700;
          ">
          האם נדרש כיסוי למחשב נישא ?

        </span>

        <label class="radio">
          <input type="radio" name="האם נדרש כיסוי למחשב נישא?">
          לא
        </label>
        <label class="radio">
          <input type="radio" name="האם נדרש כיסוי למחשב נישא?">
          כן, פרט:
        </label>


      <input type="text" class="input" name="אם נדרש כיסוי למחשב נישא, פירוט">
        </div>
        <div class="column">

          <span style="
          color: #363636;
          margin-left: 10px;
          display:block;
           font-size: 1rem;
          font-weight: 700;
          ">
          האם קיים הסכם שירות / אחזקה לציוד המוצע לביטוח?

        </span>

        <label class="radio">
          <input type="radio" name="האם קיים הסכם שירות / אחזקה לציוד המוצע לביטוח?">
          אין
        </label>
        <label class="radio">
          <input type="radio" name="האם קיים הסכם שירות / אחזקה לציוד המוצע לביטוח?">
          יש, פרט:
        </label>


      <input type="text" class="input" name="אם קיים הסכם שירות / אחזקה לציוד המוצע לביטוח, פירוט">
        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.1rem;">
      כיסויים נוספים
      </label>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן שחזור נתונים ותוכנה">
            שחזור נתונים ותוכנה - גבול אחריות עד לסך:
          </label>
          <input type="number" class="input" name="שחזור נתונים ותוכנה - גבול אחריות עד לסך">
        </div>
        <div class="column">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן הוצאות תפעול נוספות">
            הוצאות תפעול נוספות:
          </label>
          <input type="number" class="input" name="הוצאות תפעול נוספות">
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-normal">
            סך כל ההוצאות השנתיות הנחוצות להפעלת מערכת חליפית עם ביצועים דומים למערכת המבוטחת:
          </label>
          <input type="number" class="input" name="

          סך כל ההוצאות השנתיות הנחוצות להפעלת מערכת חליפית עם ביצועים דומים למערכת המבוטחת">
        </div>
        <div class="column">
          <label class="label is-normal">
            תקופת גמולה (בחודשים)
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            1
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            2
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            3
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            4
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            9
          </label>
          <label class="radio">
            <input type="radio" name="תקופת גמולה[בחודשים]">
            12
          </label>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי רעידות אדמה">
            כיסוי רעידות אדמה:
          </label>
          <input type="text" class="input" name="אם סימן כיסוי רעידות אדמה, פירוט">
        </div>
        <div class="column">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי נזקי טבע" >
            כיסוי נזקי טבע:
          </label>
          <input type="text" class="input" name="אם סימן כיסוי נזקי טבע, פירוט">
        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.3rem">
      פרק חמישי - ביטוח שבר מכני
      </label>
      <p>
        *הכיסוי לגבי פרק זה כפוף לבדיקת הציוד ע"י סוקר מוסמך
      </p>
      <div class="columns">
        <div class="column is-one-third">
          <label class="label is-normal">
            סה"כ בסיס ביטוח(ערך כחדש)
          </label>
          <input type="number" class="input" name="פרק חמישי - ביטוח שבר מכני סך הכל בסיס ביטוח לציוד המוצע">
        </div>
        <div class="column">
          <label class="label is-normal">
            פירוט הציוד המוצע לביטוח
          </label>
          <input type="text" class="input" name="פירוט הציוד המוצע לביטוח">
        </div>
        <div class="column">
          <label class="label is-normal">
            מספר משמרות בהן מופעל הציוד המוצע לביטוח
          </label>
          <input type="number" class="input" name="מספר משמרות בהן מופעל הציוד המוצע לביטוח">
        </div>
      </div>
      <div class="columns">
        <div class="column ">
          <span style="
          color: #363636;
          margin-left: 10px;
          display:block;
           font-size: 1rem;
          font-weight: 700;
          ">
             האם נדרש רישוי ממשלתי לציוד או לחלק ממנו?
        </span>
          <label class="radio">
            <input type="radio" name="האם נדרש רישוי ממשלתי לציוד או לחלק ממנו?">
            לא
          </label>
          <label class="radio">
            <input type="radio" name="האם נדרש רישוי ממשלתי לציוד או לחלק ממנו?">
            כן, פרט :
          </label>
          <input type="text" class="input" name="אם נדרש רישוי ממשלתי לציוד, פירוט">
        </div>
        <div class="column">
          <label class="label is-normal">
            אם כן, האם קיים רישוי?
          </label>
          <label class="radio">
            <input type="radio" name="אם נדרש רישוי ממשלתי, האם קיים רישוי?" >
            לא
          </label>
          <label class="radio">
            <input type="radio" name="אם נדרש רישוי ממשלתי, האם קיים רישוי?" >
            כן
          </label>
        </div>
        <div class="column">
          <span style="
          color: #363636;
          margin-left: 10px;
          display:block;
           font-size: 1rem;
          font-weight: 700;
          ">
          האם ברצונך לכלול כיסוי לסחורה שבקרור?
          </span>
          <label class="radio">
            <input type="radio" name="האם ברצונך לכלול כיסוי לסחורה שבקרור?" >
            לא
          </label>
          <label class="radio">
            <input type="radio" name="האם ברצונך לכלול כיסוי לסחורה שבקרור?" >
            כן, סכום הביטוח בש"ח:
          </label>
          <input type="number" class="input" name="אם כן לכלול כיסוי לסחורה שבקרור, סכום הביטוח בשקל">

        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.3rem">
      פרק שישי - ביטוח אחריות כלפי צד שלישי
      </label>
      <div class="columns">
        <div class="column is-one-third ">
          <label class="label is-normal">
            גבול האחריות למקרה:
          </label>
          <input type="text" class="input" name="פרק שישי - ביטוח אחריות כלפי צד שלישי: גבול האחריות למקרה:">
        </div>
        <div class="column ">
          <label class="label is-normal">
            סך הכל גבול האחריות למשך תקופת הביטוח:
          </label>
          <input type="text" class="input" name="סך הכל גבול האחריות למשך תקופת הביטוח">
        </div>

<div class="column"></div>
      </div>
      <div class="columns">
        <div class="column is-three-quarters">
          <span style="
          color: #363636;
          margin-left: 10px;
          display:block;
           font-size: 1rem;
          font-weight: 700;
          ">
            האם מתבצעות עבודות מחוץ לחצרי עסקו של המבוטח המוצע לביטוח?
          </span>
          <label class="radio">
            <input type="radio" name="האם מתבצעות עבודות מחוץ לחצרי עסקו של המבוטח המוצע לביטוח">
            לא
          </label>
          <label class="radio">
            <input type="radio" name="האם מתבצעות עבודות מחוץ לחצרי עסקו של המבוטח המוצע לביטוח">
            כן, פרט
          </label>
          <input type="text" class="input" name="אם מתבצעות עבודות מחוץ לחצרי עסקו של המבוטח, פירוט">
        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.1rem;">
      כיסויים נוספים
      </label>
      <div class="columns">
        <div class="column is-one-third">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי נזק לרכוש כתוצאה מכלי רכב">
            כיסוי נזק לרכוש כתוצאה מכלי רכב.
          </label>
          <label class="label is-normal">
            <input type="checkbox" name="כיסוי להוצאות הגנה בהליכים פליליים">
            כיסוי להוצאות הגנה בהליכים פליליים.
          </label>
        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.3rem">
      פרק שביעי - ביטוח חבות מעבידים
      </label>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-normal">
            גבול האחריות למקרה:
          </label>
          <input type="text" class="input" name="פרק שביעי - חבות מעבידים - גבול האחריות למקרה:">
        </div>
        <div class="column">
          <label class="label is-normal">
            סך הכל גבול האחריות לתקופת הביטוח:
          </label>
          <input type="text" class="input" name="סך הכל גבול האחריות לתקופת הביטוח">
        </div>

      </div>
      <div class="columns">
        1.
        <div class="column is-one-third">

          <label class="label is-normal">
            מס' העובדים:
          </label>
          <input type="number" class="input" name="מספר העובדים">
        </div>
        <div class="column">
          <label class="label is-normal">
            העיסוק של העובדים:
          </label>
          <input type="text" class="input" name="העיסוק של העובדים">

        </div>
        <div class="column">
          <label class="label is-normal">
            שכר עבודה שנתי:
          </label>
          <input type="number" class="input" name="שכר עבודה שנתי">
        </div>
      </div>

      <div class="columns">
        2.
        <div class="column is-one-third">

          <label class="label is-normal">
            מס' העובדים:
          </label>
          <input type="number" class="input" name="2מספר העובדים">
        </div>
        <div class="column">
          <label class="label is-normal">
            העיסוק של העובדים:
          </label>
          <input type="text" class="input" name="2העיסוק של העובדים">

        </div>
        <div class="column">
          <label class="label is-normal">
            שכר עבודה שנתי:
          </label>
          <input type="number" class="input" name="2שכר עבודה שנתי">
        </div>
      </div>
      <label class="label is-normal underline" style="font-size: 1.1rem;">כיסויים נוספים</label>
      <div class="columns">
        <div class="column is-one-third">
          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי קבלנים ו/או קבלני משנה ו/או עובדי חברת כח אדם">
            כיסוי קבלנים ו/או קבלני משנה ו/או עובדי חברת כוח אדם.
          </label>


          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי הדין החל בשטחים המוחזקים">
            כיסוי הדין החל בשטחים המוחזקים.
          </label>


          <label class="label is-normal">
            <input type="checkbox" name="האם סימן כיסוי להוצאות הגנה בהליכים פליליים" >
            כיסוי להוצאות הגנה בהליכים פליליים.
          </label>
          </div>
      </div>

      <div class=" center-text">
        <button
        type="submit"
        class="button is-large is-dark  is-outlined ama-font is-rounded"

      >
        <span>
          <i class="far fa-paper-plane"></i>
        </span>
        <span class="title is-size-2 bolder">שליחה</span>
      </button>
      </div>

  </div>
</form>

<app-footer></app-footer>
