<script>
$(document).ready(function() {
$("body").addClass("body");
  });
</script>
<html dir=rtl class="has-navbar-fixed-top" lang="he-IL">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<header>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
 
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
     <!-- Nav Bar-->
   <nav id="navbar" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
     <div class="navbar-brand">
       <a class="navbar-item" href="#navbarId">
         <img src="https://i.ibb.co/vDf1Jmh/favicon.jpg" width="70" height="28">
       </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarId" (click)="toggleBurger()" >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
    <div id="navbarId" class="navbar-menu">
     <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['']">
        <strong>ראשי</strong>
      </a>
     <a class="navbar-item" href="#about">
      <strong>אודות</strong>
     </a>
     <a class="navbar-item" href="#contact">
      <strong>צור קשר</strong>
     </a>
     <a class="navbar-item" [routerLink]="['/online']">
      <strong>ביטוח אונליין</strong>
     </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <strong>ביטוחים</strong>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/sea']">
            <strong>ביטוח ימי</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['business']">
            <strong>ביטוח עסק</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/beauty']">
            <strong>ביטוח מכוני יופי</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/property']">
            <strong>ביטוח רכוש</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/cargo']">
            <strong>ביטוח מטענים</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/travel']">
            <strong>ביטוח נסיעות לחו"ל</strong>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/health']">
            <strong>ביטוח בריאות</strong>
          </a>
        </div>
        </div>
      </div>

 
      <div class="navbar-start">
        <a class="navbar-item" href="tel:072-2415880"><strong>072-2415880</strong><i class="fas fa-phone"></i></a>
        <a class="navbar-item" href="mailto:info@adins.co.il"><strong>info@adins.co.il</strong><i class="fas fa-envelope-open"></i></a>
        <a class="navbar-item" href="https://www.facebook.com/insurance.advanced"><strong>Facebook</strong><i class="fab fa-facebook-square"></i></a>
      </div>

    </div>
  </nav>
<!-- Nav Bar End-->
</header>
<body class="body">


</body>

</html>



<router-outlet></router-outlet>
