<header>
    <title>ביטוח אונליין - איילת דן אדוונס ביטוחים</title>
    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<section class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="https://i.ibb.co/chPF12Z/property1-1.jpg">
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <div class="banner-text">
            <h1 class="ama-font ins-banner-text">
                ביטוח רכוש
            </h1>
        </div>
    </div>
</section>
<hr>
</header>
<body>
<div class="container  ama-font is-fluid">
    <div class="center-text">
    <strong class=" title is-size-2 is-size-3-mobile underline">ביטוח רכב, דירה</strong>
</div>
    <hr>
    <div class="columns">
        <div class="column is-one-half">
            <div class="box">
            <p class="title is-size-2 is-size-3-mobile center-text underline bolder">ביטוח רכב</p>
            <div class="content  is-size-4 is-size-4-mobile has-text-weight-semibold">
                ביטוח רכב מכסה נזקים שנגרמו לרכב, פגיעות גוף שנגרמו לנהג או פגיעות שנגרמו לרכוש או אדם אחר במקרה של תאונה עם הרכב המבוטח.<br>
                <ul>
                    <li>ביטוח חובה - מוגדר ע"פ חוק כחובה לרכישה לכל בעל רכב במדינת ישראל.<br>
                    ביטוח זה נועד בכדי לכסות על מקרים בהם הרכב המבוטח היה מעורב בתאונה בה נגרם נזק לגופו של נהג הרכב המבוטח, הנוסעים ברכב ושל נפגעים הנמצאים מחוץ לרכב.
                    </li>
                    <li>
                        ביטוח צד ג' - מטרת ביטוח צד ג' היא לכסות את בעל הרכב המבוטח במקרה ובתאונה נגרם גם נזק לרכבו של המעורב הנוסף בתאונה או לרכוש שלו (ואף למספר מעורבים נוספים במקרים כמו תאונת שרשרת).
                    </li>
                    <li>
                        ביטוח מקיף - נועד לכסות על טווח רחב של מקרים העלולים להתרחש במהלך תקופת הביטוח. בין התרחישים המכוסים: פריצה לרכב, גניבת ציוד מהרכב, גניבת הרכב עצמו, כיסוי צד ג' ועוד.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <p class="title is-size-2 is-size-3-mobile center-text underline bolder">ביטוח דירה</p>
            <div class="content is-size-4 is-size-4-mobile has-text-weight-semibold">
                ביטוח הדירה מורכב מביטוח תכולה וביטוח מבנה הדירה. פוליסת ביטוח זו נועדה בכדי להגן על המבוטח במקרה בו נגרם נזק למבנה הדירה או לתכולה הכלולה בה בשל התרחשות אירועי סיכון מסוימים כגון -
                <ul>
                    <li>שיטפון</li>
                    <li>שריפה</li>
                    <li>פריצה</li>
                    <li>סערה</li>
                    ועוד מגוון אירועים העלולים לגרום נזק. כל זאת בכדי להבטיח כי המבוטח ומשפחתו לא יותרו חסרי כל ללא קורת גג.

                </ul>

            </div>
    </div>
    </div>

</div>
</div>

   <!--Columns-->
  <div class="box center-text">
    <p class="title is-size-1 is-size-2-mobile ama-font">
        <strong class="underline">הביטוחים שלנו </strong>
    </p>
</div>
<section class="light-bg">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted  is-outlined" [routerLink]="['/travel']">
                        <strong class="ama-font">ביטוח נסיעות לחו"ל</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/d5HkXPY/health.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted is-outlined" [routerLink]="['/health']">
                    <strong class="ama-font">ביטוח בריאות</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/YW4PV9s/beauty.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/beauty']">
                        <strong class="ama-font">ביטוח מכוני יופי</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered ">
        <div class="column is-one-third">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/8sGTgqt/cargo.jpg" >
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/cargo']">
                        <strong class="ama-font">ביטוח מטענים</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/PZhXrfT/business.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/business']">
                    <strong class="ama-font">ביטוח עסק</strong>
                </a>
            </div>
          </div>
        </div>
        <div class="column">
            <div  class="container box-h3 center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/sea']">
                    <strong class="ama-font">ביטוח ימי </strong>
                </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--Columns End-->
</body>
<app-footer></app-footer>
