<header id="top">
    <title>ביטוח אונליין - איילת דן אדוונס ביטוחים</title>
    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet"> 
</header>
<body>

    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <p class="title center-text ama-font is-size-1 is-size-2-mobile underline">
                  ביטוח אונליין
                </p>
                <h2 class="subtitle center-text is-size-3 is-size-4-mobile ama-font ">
                   מהיום רוכשים או מחדשים ביטוח בקלות ומקבלים שירות וטיפול מאיתנו!
                </h2>
            </div>
        </div>
</section>
<div class="box"></div>
<div class="is-size-3 is-size-4-mobile ama-font center-text">
    ביטוח מעולם לא היה קל יותר, בעידן של היום, ביטוח עושים באינטרנט, בקלות ובמהירות.<br>
    לחצו על הקישורים למטה לרכישת ביטוח באונליין בקלות, וקבלו שירות וטיפול מאיתנו!


    </div>

<div class="container is-fluid">
    <div class="columns">
        <div class="column is-half is-centered">
            <div class="container center-text ama-font">
                <div class="box">
            <div class="card">
                <div class="card-image">
                    <figure class="responsive-img">
                        <img src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                    </figure>
                </div>
                <div class="card-content center-text">
                    <div class="content">
                        <p class="title is-size-2-mobile is-size-2">
                            ביטוח נסיעות לחו"ל
                        </p>
                        <div class="content subtitle is-size-3 is-size-3-mobile">
                            לרכישת ביטוח נסיעות לחו"ל וקבלת שירות וטיפול מאיתנו
                        </div>
                    </div>
                </div>
                <a class="button is-large is-light is-inverted  is-outlined">
                    <strong>לחץ כאן</strong>
                </a>
            </div>
</div>
            </div>
    </div>
    <div class="column  is-centered">
        <div class="container center-text ama-font">
            <div class="box">
        <div class="card">
            <div class="card-image">
                <figure class="responsive-img">
                    <img src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                </figure>
            </div>
            <div class="card-content center-text">
                <div class="content">
                    <p class="title is-size-2-mobile is-size-2">
                        ביטוח ימי
                    </p>
                    <div class="content subtitle is-size-3 is-size-3-mobile">
                      לרכישת ביטוח ימי וקבלת שירות וטיפול מאיתנו
                    </div>
                </div>
            </div> <!--Insert sea affiliate link-->
            <a class="button is-large is-light is-inverted  is-outlined">
                <strong>לחץ כאן</strong>
            </a>
        </div>
</div>
        </div>
</div>
    </div>

</div>
<hr>
</body>
<footer id="footer">
    <!--Footer important copy to all pages-->
    <div id="contact">
        <div class="box is-dark notification">
          <p class="title ama-font is-size-1 is-size-3-mobile has-text-weight-bold center-text">השאר פרטיך ונחזור אליך בהקדם!</p>
          <form>
              <div class="field is-horizontal">
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="שם" required>
              </div>
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="טלפון" required>
                </div>
                    <div class="field">
                  <div class="control submit-is-centered submit-btn">
                      <button (click)="alertSuccess()" type="submit" class="button is-fullwidth is-large is-light modal-button ama-font" >
                          <span>
                              <i class="far fa-paper-plane"></i>
                          </span>
                        <span class="title is-size-2 bolder">שליחה</span>
                        </button>
                    </div>
                </div>
              </div>
          </form>
        </div>
    </div>
    <div class="content">
    <h1 class="title ama-font is-size-3 is-size-3-mobile center-text">איילת דן - אדוונס ביטוחים</h1>
    <div class="ama-font is-size-4 is-size-4-mobile center-text has-text-weight-bold">
        המגשימים 20, ת.ד 7032 קריית מטלון, פתח תקווה, 4934829 <br>
        <a href="tel:072-2415880">טל-072-2415880</a>
        פקס-077-4702112
        <a href="mailto:info@adins.co.il">info@adins.co.il</a>
    </div>
    <div class="content ama-font is-size-4 center-text has-text-weight-bold">
        <div class="center-text">כל הזכויות שמורות<i class="far icon is-small center-align fa-copyright"></i></div>
        <div class="center-text">
            <a href="mailto:silkroadori@gmail.com">Created by Ori Meshi</a>
        </div>
    </div>
</div>

    <!--Footer End-->
</footer>



