<header id="top">
    <title>ביטוח אונליין - איילת דן אדוונס ביטוחים</title>
    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</header>
<body>

    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <p class="title center-text ama-font is-size-1 is-size-2-mobile underline">
                  ביטוח אונליין
                </p>
                <h2 class="subtitle center-text is-size-3 is-size-4-mobile ama-font ">
                   מהיום רוכשים או מחדשים ביטוח בקלות ומקבלים שירות וטיפול מאיתנו!
                </h2>
            </div>
        </div>
</section>
<div class="box">
<div class="is-size-2 is-size-4-mobile ama-font center-text">
    ביטוח מעולם לא היה קל יותר, בעידן של היום, ביטוח עושים באינטרנט, בקלות ובמהירות.<br>
    לחצו על הקישורים למטה לרכישת ביטוח באונליין בקלות, וקבלו שירות וטיפול מאיתנו!


    </div>
  </div>


<div class="container is-fluid ">
  <div class="box">
    <div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <div class="container center-text ama-font">
            <div class="card ">
                <div class="card-image">
                    <figure class="responsive-img">
                        <img src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                    </figure>
                </div>
                <div class="card-content center-text">
                    <div class="content">
                        <p class="title is-size-2-mobile is-size-2">
                            ביטוח נסיעות לחו"ל
                        </p>
                        <div class="content subtitle is-size-3 is-size-3-mobile">
                            לרכישת ביטוח נסיעות לחו"ל וקבלת שירות וטיפול מאיתנו
                        </div>
                    </div>
                </div>
                <a class="button is-large is-light is-inverted  is-outlined" (click)="toggleModal()">
                    <strong>לחץ כאן</strong>
                </a>
            </div>
<!--div was here-->
            </div>
    </div>





    <div class="column  is-centered">
        <div class="container center-text ama-font">

        <div class="card">
            <div class="card-image">
                <figure class="responsive-img">
                    <img src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                </figure>
            </div>
            <div class="card-content center-text">
                <div class="content">
                    <p class="title is-size-2-mobile is-size-2">
                        ביטוח ימי
                    </p>
                    <div class="content subtitle is-size-3 is-size-3-mobile">
                      למילוי פרטים וקבלת הצעת מחיר לביטוח ימי בהקדם
                    </div>
                </div>
            </div> <!--Insert sea affiliate link-->
            <a class="button is-large is-light is-inverted  is-outlined"
              [routerLink]="['/online/seaform']"
            >
                <strong>לחץ כאן</strong>
            </a>
        </div>

        </div>
</div>




<div class="column ">
  <div class="container center-text ama-font">

  <div class="card">
      <div class="card-image">
          <figure class="responsive-img">
              <img src="https://i.ibb.co/8sGTgqt/cargo.jpg">
          </figure>
      </div>
      <div class="card-content center-text">
          <div class="content">
              <p class="title is-size-2-mobile is-size-2">
                ביטוח מטענים
              </p>
              <div class="content subtitle is-size-3 is-size-3-mobile">
                למילוי פרטים וקבלת הצעת מחיר לביטוח מטענים בהקדם
              </div>
          </div>
      </div>
      <a class="button is-large is-light is-inverted  is-outlined"
      [routerLink]="['/online/cargoform']"
      >
          <strong>לחץ כאן</strong>
      </a>
  </div>

  </div>
</div>
</div>

<div class="columns">
  <div class="column is-one-third">
      <div class="container center-text ama-font">
      <div class="card ">
          <div class="card-image">
              <figure class="responsive-img">
                  <img src="https://i.ibb.co/d5HkXPY/health.jpg">
              </figure>
          </div>
          <div class="card-content center-text">
              <div class="content">
                  <p class="title is-size-2-mobile is-size-2">
                    ביטוח בריאות
                  </p>
                  <div class="content subtitle is-size-3 is-size-3-mobile">
                    למילוי פרטים וקבלת הצעת מחיר לביטוח בריאות בהקדם
                  </div>
              </div>
          </div>
          <a class="button is-large is-light is-inverted  is-outlined"
          [routerLink]="['/online/healthform']"
          >


              <strong>לחץ כאן</strong>
          </a>
      </div>

      </div>
</div>





<div class="column  is-centered">
  <div class="container center-text ama-font">

  <div class="card">
      <div class="card-image">
          <figure class="responsive-img">
              <img src="https://i.ibb.co/chPF12Z/property1-1.jpg" >
          </figure>
      </div>
      <div class="card-content center-text">
          <div class="content">
              <p class="title is-size-2-mobile is-size-2">
                  ביטוח רכב
              </p>
              <div class="content subtitle is-size-3 is-size-3-mobile">
                למילוי פרטים וקבלת הצעת מחיר לביטוח רכב בהקדם
              </div>
          </div>
      </div> <!--Insert sea affiliate link-->
      <a class="button is-large is-light is-inverted  is-outlined"
      [routerLink]="['/online/propertyform']"
      >
          <strong>לחץ כאן</strong>
      </a>
  </div>

  </div>
</div>




<div class="column ">
<div class="container center-text ama-font">

<div class="card">
<div class="card-image">
    <figure class="responsive-img">
        <img src="https://i.ibb.co/PZhXrfT/business.jpg">
    </figure>
</div>
<div class="card-content center-text">
    <div class="content">
        <p class="title is-size-2-mobile is-size-2">
          ביטוח עסק
        </p>
        <div class="content subtitle is-size-3 is-size-3-mobile">
          למילוי פרטים וקבלת הצעת מחיר לביטוח עסק בהקדם
        </div>
    </div>
</div>
<a class="button is-large is-light is-inverted  is-outlined"
[routerLink]="['/online/businessform']"
>
    <strong>לחץ כאן</strong>
</a>
</div>

</div>
</div>
</div>

<div class="columns">
  <div class="column is-one-third">
      <div class="container center-text ama-font">
      <div class="card ">
          <div class="card-image">
              <figure class="responsive-img">
                  <img src="https://i.ibb.co/YW4PV9s/beauty.jpg">
              </figure>
          </div>
          <div class="card-content center-text">
              <div class="content">
                  <p class="title is-size-2-mobile is-size-2">
                    ביטוח מכוני יופי
                  </p>
                  <div class="content subtitle is-size-3 is-size-3-mobile">
                    למילוי פרטים וקבלת הצעת מחיר לביטוח מכון יופי בהקדם
                  </div>
              </div>
          </div>
          <a class="button is-large is-light is-inverted  is-outlined"
          [routerLink]="['/online/beautyform']"
          >


              <strong>לחץ כאן</strong>
          </a>
      </div>

      </div>
</div>
</div>


</div>
</div>
</div>
<hr>
</body>



<!--Modal-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="background-color: antiquewhite; margin: 0 0 0 0;">
<div class="container is-fluid" style="margin-right: 10px;">


      <h1 class="title is-size-1 ama-font underline bolder center-text">בחר חברת ביטוח</h1>
          <div class="columns">
              <div class="column is-one-third center-text">
               <p class="title is-size-2 bolder ama-font">
              הפניקס
              </p>
              </div>
              <div class="column center-text">
              <p class="title is-size-2 bolder ama-font">
              פספורטקארד
              </p>
              </div>
              <div class="column center-text">
              <p class="title is-size-2 bolder ama-font">
              הראל
              </p>
              </div>

        </div>
     </div>
    </div>
     <button class="modal-close is-large" (click)="toggleModal()"></button>
    </div>

          <!--Modal End-->
<app-footer></app-footer>



