<header>
    <title>ביטוח נסיעות לחו"ל פספורטקארד - איילת דן אדוונס ביטוחים</title>

    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<section class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="https://i.ibb.co/ck9h7Mf/travel.jpg">
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <div class="banner-text">
            <h1 class="ama-font ins-banner-text">
                ביטוח נסיעות לחו"ל
            </h1>
        </div>
    </div>
</section>
<hr>
</header>
<body>
    <div class="container ama-font center-text is-fluid">
        <strong class="title is-size-2 is-size-3-mobile underline">PassportCard (פספורט קארד) הינו ביטוח הנסיעות לחו"ל המתקדם והחדשני ביותר</strong>
        <p class="is-size-3 is-size-4-mobile has-text-weight-semibold">
           הפספורט קארד פועל באמצעות כרטיס מגנטי אישי, המשמש כאמצעי תשלום ישיר ומיידי לספקי שירות רפואי ברחבי העולם, על פי בחירתך החופשית ובחיוב ישיר.<br><br>
           הטכנולוגיה המתקדמת מבטלת את הצורך בטפסים ובירוקרטיה באישור התביעה.<br>
           הכרטיס המגנטי נותר ברשותך לשימושים חוזרים בכל נסיעותיך לחו"ל.<br><br>
           הפעלת הביטוח לפני כל נסיעה באמצעות מוקד שירות PassportCard , אתר האינטרנט, או באמצעות האפליקציה - פשוטה וקלה.<br>
           מוקד שירות לקוחות PassportCard ערוך לסייע לך במצבי חירום 24/7 באמצעות מספרי חיוג חינם מכל מקום בעולם.
        </p>
        <hr>
        <section class="">
            <div class="columns is-size-3 is-size-4-mobile center-text">
                <div class="column is-one-third">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">אמנת השירות</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                            ל- PassportCard אמנת שירות המחייבת את כל עובדיה ומעמידה רף גבוה של זמינות ואיכות בטיפול בלקוחות וכוללת פיצוי כספי ללקוחות במקרה של אי עמידה בהתחייבות מהסטנדרט שנקבע.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">ניסיון עשיר</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                            השילוב המוצלח בין חברת הביטוח "הפניקס" ובין "DavidShield" מעמיד לרשותך את כל הניסיון שנצבר ברחבי העולם הכולל שירותים רפואיים, שירותי חילוץ ופיצוי בגין אובדן כבודה ורכוש נוסף.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">ייעוץ רפואי בעברית</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                          PassportCard מעמידה לרשותך חדר רופאים לצורך ייעוץ וליווי מקצועי 24 שעות ביממה לאורך כל ימות השנה.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="columns is-size-3 is-size-4-mobile center-text">
                <div class="column is-one-third">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">פריסה עולמית</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                            לשירותך מיליוני ספקים רפואיים הפזורים בכל רחבי העולם.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">ללא בירוקרטיה</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                            התנהלות ללא טפסים, הכל פשוט.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <strong class="title is-size-3 is-size-4-mobile underline">מקצועיות</strong>
                        <p class="has-text-weight-semibold is-size-4 is-size-5-mobile">
                            PassportCard היא החברה הראשונה בישראל המקדישה את כל מאמציה לתחום ביטוח הנסיעות.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

   <!--Columns-->
  <div class="box center-text">
    <p class="title is-size-1 is-size-2-mobile ama-font">
        <strong class="underline">הביטוחים שלנו </strong>
    </p>
</div>
<section class="light-bg">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/8sGTgqt/cargo.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted  is-outlined" [routerLink]="['/cargo']">
                        <strong class="ama-font">ביטוח מטענים</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/d5HkXPY/health.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted is-outlined" [routerLink]="['/health']">
                    <strong class="ama-font">ביטוח בריאות</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/YW4PV9s/beauty.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/beauty']">
                        <strong class="ama-font">ביטוח מכוני יופי</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered ">
        <div class="column is-one-third">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/chPF12Z/property1-1.jpg" >
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/property']">
                        <strong class="ama-font">ביטוח רכוש</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/PZhXrfT/business.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/business']">
                    <strong class="ama-font">ביטוח עסק</strong>
                </a>
            </div>
          </div>
        </div>
        <div class="column">
            <div  class="container box-h3 center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/sea']">
                    <strong class="ama-font">ביטוח ימי </strong>
                </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--Columns End-->
</body>

<footer id="footer">
    <!--Footer important copy to all pages-->
    <div id="contact">
        <div class="box is-dark notification">
          <p class="title ama-font is-size-1 is-size-3-mobile has-text-weight-bold center-text">השאר פרטיך ונחזור אליך בהקדם!</p>
          <form action="https://formspree.io/f/xeqpaady" method="POST"  >
              <div class="field is-horizontal">
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="שם" required>
              </div>
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="טלפון" required>
                </div>
                    <div class="field">
                  <div class="control submit-is-centered submit-btn">
                      <button (click)="alertSuccess()" type="submit" class="button is-fullwidth is-large is-light modal-button ama-font" >
                          <span>
                              <i class="far fa-paper-plane"></i>
                          </span>
                        <span class="title is-size-2 bolder">שליחה</span>
                        </button>
                    </div>
                </div>
              </div>
          </form>
        </div>
    </div>
    <div class="content">
    <h1 class="title ama-font is-size-3 is-size-3-mobile center-text">איילת דן - אדוונס ביטוחים</h1>
    <div class="ama-font is-size-4 is-size-4-mobile center-text has-text-weight-bold">
        המגשימים 20, ת.ד 7032 קריית מטלון, פתח תקווה, 4934829 <br>
        <a href="tel:072-2415880">טל-072-2415880</a>
        פקס-077-4702112
        <a href="mailto:info@adins.co.il">info@adins.co.il</a>
    </div>
    <div class="content ama-font is-size-4 center-text has-text-weight-bold">
        <div class="center-text">כל הזכויות שמורות<i class="far icon is-small center-align fa-copyright"></i></div>
        <div class="center-text">
            <a href="mailto:silkroadori@gmail.com">Created by Ori Meshi</a>
        </div>
    </div>
</div>

    <!--Footer End-->
</footer>



