<header>
    <title>ביטוח בריאות - איילת דן אדוונס ביטוחים</title>
    <meta name="description" content="
    מחפשים ביטוח? באדוונס ביטוחים תמצאו - ביטוח ימי,ביטוח יאכטה,ביטוח אופנוע ים,ביטוח סירה,ביטוח נסיעות,ביטוח בריאות,ביטוח חיים,ביטוח רכב,ביטוח דירה,ביטוח עסק
    "
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<section class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="https://i.ibb.co/d5HkXPY/health.jpg">
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <div class="banner-text">
            <h1 class="ama-font ins-banner-text">
                ביטוח בריאות 
            </h1>
        </div>
    </div>
</section>
<hr>
</header>
<body>



<!--Here goes the health description-->




<!--Columns-->
<div class="box center-text">
    <h1 class="title is-size-1 is-size-2-mobile ama-font">
        <strong class="underline">הביטוחים שלנו </strong>
    </h1>
</div>
<section class="light-bg">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/XV66f5C/travel-1.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted  is-outlined" [routerLink]="['/travel']">
                        <strong class="ama-font">ביטוח נסיעות לחו"ל</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/YW4PV9s/beauty.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-hovered is-inverted is-outlined" [routerLink]="['/beauty']">
                    <strong class="ama-font">ביטוח מכוני יופי</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/PZhXrfT/business.jpg">
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/business']">
                        <strong class="ama-font">ביטוח עסק</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered ">
        <div class="column is-one-third">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/chPF12Z/property1-1.jpg" >
                <div class="is-overlay-btn">
                    <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/property']">
                        <strong class="ama-font">ביטוח רכוש</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div  class="container  center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/8sGTgqt/cargo.jpg">
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/cargo']">
                    <strong class="ama-font">ביטוח מטענים</strong>
                </a>
            </div>
          </div>
        </div>
        <div class="column">
            <div  class="container box-h3 center-text">
                <img class="responsive-img ins-border" src="https://i.ibb.co/KxzKmdn/sea-1.jpg" >
                <div class="is-overlay-btn">
                <a class="button is-large-desktop is-light is-inverted is-hovered is-outlined" [routerLink]="['/sea']">
                    <strong class="ama-font">ביטוח ימי </strong>
                </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--Columns End-->
</body>

<footer id="footer">
    <!--Footer important copy to all pages-->
    <div id="contact">
        <div class="box is-dark notification">
          <h1 class="title ama-font is-size-1 is-size-2-mobile has-text-weight-bold center-text">השאר פרטיך ונחזור אליך בהקדם!</h1>
          <form method="POST">
              <div class="field is-horizontal">
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="שם" required>
              </div>
              <div class="control contact-align-2">
                  <input class="input is-large" type="text" placeholder="טלפון" required>
                </div>
                    <div class="field">
                  <div class="control submit-btn submit-is-centered">
                      <button (click)="alertSuccess()" type="submit" class="button is-large is-light modal-button ama-font">
                        <strong class="title is-size-2">שליחה</strong>
                        </button>
                    </div>
                </div>
              </div>
          </form>
        </div>
    </div>
    <div class="content">
    <h1 class="title ama-font is-size-3 is-size-4-mobile center-text">איילת דן - אדוונס ביטוחים</h1>
    <div class="ama-font is-size-4 is-size-4-mobile center-text has-text-weight-bold">
        המגשימים 20, ת.ד 7032 קריית מטלון, פתח תקווה, מיקוד 4934829 <br>
        <a href="tel:072-2415880">טל-072-2415880</a>
        פקס-077-4702112
        מייל - <a href="mailto:info@adins.co.il">info@adins.co.il</a>
       
    </div>
    <div class="content ama-font is-size-4 center-text has-text-weight-bold">
        <div class="center-text">כל הזכויות שמורות<i class="far icon is-small center-align fa-copyright"></i></div>
        <div class="center-text">
            <a href="mailto:silkroadori@gmail.com">Created by Ori Meshi</a>
        </div>
    </div>
</div>
    <!--Footer End-->
</footer>